<div class="row">
  <div class="col-12 main-title-servers-zone">
    <p class="zone-adds-service-title">
      Usługi dodatkowe <span class="close-icon-domains"><i class="fa fa-window-close"></i></span>
    </p>
  </div>

  <div class="col-12 col-md-6 col-xl-3">
    <div class="add-services-box">
      <p class="title-content-add-services">
        Zamów certyfikaty SSL
      </p>
      <p class="content-add-services">
        Bezpieczeństwo i wiarygodność to niezwykle ważne elementy dzisiejszego Internetu. Certyfikat SSL pozwoli Tobie i Twoim klientom zachować pełną ochronę podczas procesu przepływu informacji pomiędzy użytkownikiem, a serwerem. Strony zabezpieczone certyfikatem rozpoznasz po znajdującej się w pasku adresu kłódce, protokole https:// w przeglądarce internetowej.
      </p>
      <p class="button-add-services text-center mt-5">
        <a href="#">Zobacz ofertę <i class="fa fa-arrow-right"></i></a>
      </p>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xl-3">
    <div class="add-services-box">
      <p class="title-content-add-services">
        Oprogramowanie antywirusowe G Data
      </p>
      <p class="content-add-services">
        G Data rekordowo szybko reaguje na nowe zagrożenia, gwarantując najwyższy poziom ochrony podczas przeglądania stron WWW. Rozpoznaje i blokuje wirusy, rootkity, robaki, spyware, trojany i backdoory. Możesz bezpoecznie wykonywać czynności związane z bankowością internetową. Zabeczpiecz komputer niebezpiecznymi programami, hakerami i spamem.
      </p>
      <p class="button-add-services text-center mt-5">
        <a href="#">Zobacz ofertę <i class="fa fa-arrow-right"></i></a>
      </p>
    </div>
  </div>

  <div class="col-12 col-md-6 col-xl-3">
    <div class="add-services-box">
      <p class="title-content-add-services">
        Zestaw 150 mocnych linków SEO
      </p>
      <p class="content-add-services">
        Podstawę strategii umiejętnego linkowania stanowi dziś przede wszystkim jego dywersyfikacja. Dotyczy to zarówno pochodzenia źródła odnośników, sposobów ich zdobywania, jak i rodzajów umieszczanych linków. Dlatego też oferujemy Ci skuteczny zestaw!
      </p>
      <p class="button-add-services text-center mt-5">
        <a href="#">Zobacz ofertę <i class="fa fa-arrow-right"></i></a>
      </p>
    </div>
  </div>


  <div class="col-1">
    <div class="link-box-server ">
      <a href="#"><span class="clickable"><i class="fa fa-chevron-right xxx"></i></span></a>
    </div>
  </div>
</div>
