<div class="row">
  <div class="col-12 main-title-servers-zone">
    <p class="zone-adds-service-title">
      Usługi dodatkowe <span class="close-icon-domains"><i class="fa fa-window-close"></i></span>
    </p>
  </div>

  <% @additional_services.each do |as| %>
  <div class="col-12 col-md-6 col-xl-3">
    <div class="add-services-box">
      <p class="title-content-add-services">
        <%= as.name %>
      </p>
      <p class="content-add-services">
        <%= as.body %>
      </p>
      <p class="button-add-services text-center mt-5">
        <a href="#">Zobacz ofertę <i class="fa fa-arrow-right"></i></a>
      </p>
    </div>
  </div>
  <% end %>


  <div class="col-1">
    <div class="link-box-server ">
      <a href="#"><span class="clickable"><i class="fa fa-chevron-right xxx"></i></span></a>
    </div>
  </div>
</div>
