<div class="row">
  <div class="col-12 main-title-domains-zone">
    <p class="zone-server-title">
      Domeny <span class="close-icon-domains"><i class="fa fa-window-close"></i></span>
    </p>
  </div>

  <div class="col-12 col-lg-8 ">
    <div class="domains-box">
      <div class="row p-2">
        <% @domains.each do |domain| %>
        <div class="col-6 special-border-right">
          <div class="row">
            <div class="col-12 col-md-8 ">
              <p class="element-list-domain">
                <span class="domain-name-list"><%= domain.name %></span>
              </p>
            </div>
            <div class="col-12 col-md-4 manage-list-domain">
              <a href="#">Zarządzaj</a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
