<div class="col-12 col-lg-10 main-bills-box">
  <form>
    <div class="row">
      <div class="col-6 col-lg-2">
        <p class="main-header-bills">Tytuł płatności</p>
        <p class="main-body-bills">Pro forma</p>
      </div>
      <div class="col-6 col-lg-2">
        <p class="main-header-bills">Numer</p>
        <p class="main-body-bills">123/pf/2020</p>
      </div>
      <div class="col-6 col-lg-2">
        <p class="main-header-bills">Data</p>
        <p class="main-body-bills">20.10.2020 r.</p>
      </div>
      <div class="col-6 col-lg-2">
        <p class="main-header-bills">Kwota</p>
        <p class="main-body-bills">49.90 zł</p>
      </div>
      <div class="col-6 col-lg-2">
        <p class="main-header-bills">Zaznacz</p>
        <div class="form-check">
          <input class="form-check-input check-bill" type="checkbox" value="" id="pay-bill">
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <p class="main-header-bills">Operacje</p>
        <button type="submit" class="btn submit-bill">Opłać</button>
      </div>
    </div>
  </form>
</div>
