<div class="col-12 col-lg-10 main-bills-box">
  <% @payments.each do |payment| %>
    <form>
      <div class="row">
        <div class="col-6 col-lg-2">
          <p class="main-header-bills">Tytuł płatności</p>
          <p class="main-body-bills"><%= payment.title %></p>
        </div>
        <div class="col-6 col-lg-2">
          <p class="main-header-bills">Numer</p>
          <p class="main-body-bills"><%= payment.name %></p>
        </div>
        <div class="col-6 col-lg-2">
          <p class="main-header-bills">Data</p>
          <p class="main-body-bills"><%= payment.deadline %></p>
        </div>
        <div class="col-6 col-lg-2">
          <p class="main-header-bills">Kwota</p>
          <p class="main-body-bills"><%= payment.price %> zł</p>
        </div>
        <% if payment.title == "Pro Forma" %>
          <div class="col-6 col-lg-2">
            <p class="main-header-bills">Operacje</p>
            <button type="submit" class="btn submit-bill">Opłać</button>
          </div>
        <% else %>
        <div class="col-6 col-lg-2">
          <p class="main-header-bills">Operacje</p>
          <button type="submit" class="btn submit-bill">Pobierz PDF</button>
        </div>
        <% end %>
      </div>
    </form>
    <hr>
  <% end %>
</div>
