<div class="container-fluid ">


  <p class="title-direct-domains">
      Transfer domeny <span class="value-transfer-domain"></span>
    </p>
    <p class="transfer-domain-subtitle">Jesli domena należy do Ciebie, możesz ją przenieść</p>


    <form class="form-busy">
      <div class="row">
        <div class="col-12 col-lg-3 ">
          <div class="form-group">

            <input type="text" class="form-control check-your-domain" id="yourDomain" aria-describedby="yourDomain" placeholder="domena">
          </div>
        </div>
        <div class="col-12 col-lg-2">
          <button type="submit" class="btn btn-your-domain">Sprawdź <i class="fa fa-arrow-right check-arr"></i></button>
        </div>
      </div>
    </form>



    <p class="second-transfer-title">
      Wypełnij wniosek o cesję domeny:
    </p>

    <form>
      <div class="row">
        <div class="col-12 col-lg-3 ">
          <div class="form-group">
            <label for="cesionDomain" class="label-authinfo">NAZWA DOMENY</label>
            <input type="text" class="form-control authinfo-input" id="cesionDomain" aria-describedby="emailHelp" placeholder="domena" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-3 ">
          <div class="form-group">
            <label for="authinfo-code" class="label-authinfo">KOD CESJI</label>
            <input type="text" class="form-control authinfo-input" id="authinfo-code" placeholder="Password">
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-12 col-lg-2">
        <button type="submit" class="btn btn-authinfo">Transferuj<i class="fa fa-arrow-right authinfo-icon"></i></button>
      </div>
    </div>

    </form>


</div>
