<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Nowa definicja</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>">Strona Główna</a>
      </li>
      <li class="breadcrumb-item">
        <a href="<%= concepts_path %>">Słownik Pojęć</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Nowa definicja</strong>
      </li>
    </ol>
  </div>
</div>

<%= render 'form', concept: @concept %>
