<div class="footer">
    <div class="pull-right">
        <%= User.count %> użytkowników w systemie,
        <%= Concept.count %> haseł w bazie,
        <%= Tag.count %> tagów w bazie
    </div>
    <div>
        <strong>Copyright</strong> Politechnika Poznańska &copy; <%= Date.today.year %>
    </div>
</div>
